
@media (max-width: 768px) {

  .homeContainer {
    margin: 5rem;
    flex-direction: column;
    align-items: center;
  }

  .homeInfo {
    text-align: center;
    margin-top: 2rem;
    flex: none;
  }

  .homeInfo h1 {
    font-size: 2rem;
  }

  .homeInfo p {
    font-size: 0.8rem;
    margin: 2rem 0;
  }

  .smoke {
    transform: scale(0.5) !important;
    margin: 0 !important;
  }

  .imgContainer {
    margin-right: 0;
    margin-top: -4rem;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .homeContainer {
    margin: 15rem;
    padding: 0.5rem;
  }

  .homeInfo h1 {
    font-size: 1.8rem;
  }

  .homeInfo p {
    font-size: 0.9rem;
    margin: 1rem 0;
  }

  .imgContainer {
    margin-right: 0;
    margin-top: -13rem;
  }

  .tigerImg {
    margin-top: 5rem;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(251, 240, 223, 0.9);
  box-shadow: var(--shadow);
  overflow: hidden; 
}

.logo {
  cursor: grab;
}

.headerTop {
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav {
  display: flex;
  gap: 1rem;
}

nav button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: transparent;
  color: var(--color);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

nav button:hover {
  color: var(--hover-color);
  transform: translateY(-2px);
}

.nav-cart {
  width: 40px;
  height: 41px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.nav-cart:hover {
  transform: scale(1.1);
}

.search {
  color: var(--hover-color);
  background-color: #fff;
  padding: 0.8rem 1.3rem;
  border: none;
  border-radius: 2rem;
  width: 200px;
  transition: all 0.3s ease;
}

.search:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--hover-color);
}

.searchHolder {
  position: relative;
}

.searchIcon {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.search::placeholder {
  color: #d4b586;
  font-size: 1rem;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--color);
  transition: color 0.3s ease;
}

.menu-toggle:hover {
  color: var(--hover-color);
}

@media (max-width: 768px) {
  header {
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .headerTop {
    width: 100%;
    justify-content: space-between;
  }

  nav {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
    gap: 0.5rem;
  }

  nav.active {
    display: flex;
  }

  .searchHolder {
    width: 100%;
    margin-top: 1rem;
  }

  .search {
    width: 50%;
    padding: 0.8rem 1rem;
  }

  .menu-toggle {
    display: block;
  }

  
}

@media (min-width: 769px) and (max-width: 1024px) {
  header {
    padding: 1rem;
  }

  nav {
    gap: 0.5rem;
  }

  .search {
    width: 180px;
  }
}

@media (min-width: 1025px) {
  header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 2rem;
  }

  .menu-toggle {
    display: none;
  }
}


@media (max-width: 768px) {
  .searchHolder {
    width: 50%;
    margin-top: 1rem;
  }

  .search {
    width: 100%; 
    padding-right: 2.5rem; 
  }

  body {
    overflow-x: hidden;
  }
}